.Container_header {
    background-color: rgb(251,182,206, 0.75);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Branding_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Navigation_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 3;
    justify-content: space-around;
}

.Center {
    margin: auto;
}

.Button_header {
    margin: 20px;
    background-color:  rgb(233, 10, 147);
    border-radius: 15px;
    border: hidden;
    height: 50px;
    width: 120px;
}

.Button_header:hover {
    background-color:  rgb(248, 242, 246);
}